@use '../variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-roboto;
  font-weight: $font-regular;
  background-color: $light-bg;
  color:$dark-text;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden; 
  font-size: $font-size-base;
}

.container {
  width: 100%;
  max-width: 836px;
  margin: 0 auto; 
  padding: 0 20px; 

  position: relative;
  z-index: 2; 
}
